.buttonlogin {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.buttonlogin:hover {
  border-color: #646cff;
}
.buttonlogin:focus,
.buttonlogin:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.body {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
