.body form {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.body {
  height: 100vh;
  width: 100%;
  /* background-image: url("../../../src/assets/1222966.jpg") !important; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.507);
  border-radius: 20px;
  backdrop-filter: blur(1px);
}

.divForm {
  width: 300px;
}
.selectDay {
  width: 10px;
}

.body select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.body select:hover {
  border-color: #646cff;
}
.body select:focus,
.body select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.selects {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
