.tabla {
  width: 100%;
  /* height: 100vh; */
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  max-width: 30px;
}
th {
  height: 10vh;
  word-wrap: break-word;
  /* width: 100px; */
}
.img {
  width: 100%;
  height: 150px;
}

span {
  /* width: 100%;
  height: 40vh; */
  font-size: 6vmin !important;
  white-space: pre-wrap;
}
.cabecera1 {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 3vmin !important;
}
.cabecera1 p {
  color: black;
  text-decoration: underline rgb(0, 0, 0);
  /* text-align: center; */
}

.tableDays {
  width: 30vw;
}

textarea {
  resize: none;
}

.buttonExcel {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
}
.buttonExcel:hover {
  border-color: #646cff;
}
.buttonExcel:focus,
.buttonExcel:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
